<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div>
  <% list = Category.order(Arel.sql('RANDOM()')).first.recipes.limit(20) %>
  <%= render "layouts/drag_list", list: list%>
</div>
<div>
  <%= render "layouts/drag_list", list: list%>
</div>