// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.unit {
  width: 50px;
  padding-right: 0;
}

.amount {
  max-width: 75px;
  padding-right: 0;
}

.default-servings {
  max-width: 50px;
  margin-left: 5px;
}

.text-box {
  width: 75vw;
  height: 150px;
}

.alt_unit {
  width: 100px;
  padding-right: 0;
}

.image {
  overflow: hidden;
}

.ingredient-servings {
  color: $dark;
}

@media (max-width: 768px) {
  .ingredient-servings{
    font-size: small;
  }
}

.add-to-tags {
  background: rgb(209, 209, 209);
}

.main-header {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: $darker;
  margin: 0;
}

.title-field {
  height: 75px;
  width: 750px;
  padding: 15px, 0px;
  font-size: 3em;
}

.group-field {
  width: 400px;
}
