@import "poppins.scss";

.wrapper {
  display:flex;
  width: 100%;
  align-items: stretch;
}

// Push side bar offscreen when inactive
#sidebar {
  margin-left: -250px;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #3b3b3b;
  color: #fff;
  transition: all 0.3s;
}

// Show sidebar when active by removing negative margin
#sidebar.active {
  margin-left: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.btn-white {
  background: rgb(233, 233, 233) !important;
  padding: 1px 5px !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

// CSS for search bar
input.search {
  max-width: 200px;
  margin-left: 7px;
}

// CSS for search container
#sidebar ul.search {
    max-width: 250px;
    padding: 20px 0;
    margin: 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar-link-color, #sidebar ul li a.dropdown-toggle {
    color: #fff;
    padding: 10px;
    font-size: 1.3em;
    display: block;
}

.sidebar-link-color:hover, #sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #272727;
}

#sidebar ul li.dropdown-list {
  display: block;
  background: #3b3b3b;
}

ul.scroll-menu{
  position: relative;
  display: inherit !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  top: 0 !important;
  left: 0 !important;
  width: 99%;
  height: auto;
  max-height: 250px;
  margin: 0;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

// Submenu links
ul ul a {
    color: #fff;
    padding-bottom: 5px;
    font-size: 1em !important;
    background: #3b3b3b;
}